<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>schedule</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom1 navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button> -->
              <a class="navbar-brand page-scroll" href="index.html">Euphoria</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#schedule">Match Schedule</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#team-pictures">Pictures</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#team">Teams</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Contact</a>
                  </li>
              </ul> -->
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>



    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <table class="table table-responsive table-striped table-hover">
          	<thead>
              <tr><h1>STALLIONS</h1></tr>
          		<tr>
          			<th>Against</th>
          			<th>Venue</th>
                <th>Date</th>
                <th>Info</th>
          		</tr>
          	</thead>
          	<tbody>
          		<tr>
          			<td>Enfield Utd</td>
          			<td>Laurel Elementary School</td>
                <td>Apr 30 2017</td>
                <td>Won By 8 Wickets</td>
          		</tr>
              <tr>
          			<td>WISC</td>
          			<td>Keney Park 1</td>
                <td>May 07 2017</td>
                <td>Lost By 29 Runs</td>
          		</tr>
              <tr>
          			<td>Caribbean</td>
          			<td>Laurel Elementary School</td>
                <td>May 14 2017</td>
                <td>Match Postponed</td>
          		</tr>
              <tr>
          			<td>St Lucia</td>
          			<td>Laurel Elementary School</td>
                <td>May 21 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>3C</td>
          			<td>Laurel Elementary School</td>
                <td>Jun 04 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>WCC</td>
          			<td>Windsor Ground</td>
                <td>Jun 11 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>Euphoria Colts</td>
          			<td>Laurel Elementary School</td>
                <td>Jun 18 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>NBSC</td>
          			<td>Laurel Elementary School</td>
                <td>Jun 25 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>SWCC</td>
          			<td>Riverside Park</td>
                <td>Jul 09 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>JPL</td>
          			<td>Laurel Elementary School</td>
                <td>Jul 16 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>Sportsmen</td>
          			<td>Keney Park 1</td>
                <td>Jul 23 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>New Milford</td>
          			<td>New Milford</td>
                <td>Jul 30 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>Riverside</td>
          			<td>Laurel Elementary School</td>
                <td>Aug 06 2017</td>
                <td></td>
          		</tr>
          	</tbody>
          </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <table class="table table-responsive table-striped table-hover">
          	<thead>
              <tr><h1>COLTS</h1></tr>
          		<tr>
          			<th>Against</th>
          			<th>Venue</th>
                <th>Date</th>
                <th>Info</th>
          		</tr>
          	</thead>
          	<tbody>
          		<tr>
          			<td>WCC</td>
          			<td>Windsor Ground</td>
                <td>Apr 30 2017</td>
                <td>Lost By 40 Runs</td>
          		</tr>
              <tr>
          			<td>Caribbean</td>
          			<td>Laurel Elementary School</td>
                <td>May 7 2017</td>
                <td>Match Postponed</td>
          		</tr>
              <tr>
          			<td>3C</td>
          			<td>Walnut Hill Park</td>
                <td>May 14 2017</td>
                <td>Match Postponed</td>
          		</tr>
              <tr>
          			<td>WISC</td>
          			<td>Keney Park 1</td>
                <td>May 21 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>Enfield Utd</td>
          			<td>Springfield - Enfield United</td>
                <td>Jun 04 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>JPL</td>
          			<td>Laurel Elementary School</td>
                <td>Jun 11 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>Euphoria Stallions</td>
          			<td>Laurel Elementary School</td>
                <td>Jun 18 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>New Milford</td>
          			<td>New Milford</td>
                <td>Jun 25 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>Sportsmen</td>
          			<td>Keney Park 1</td>
                <td>Jul 09 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>NBSC</td>
          			<td>Walnut Hill Park</td>
                <td>Jul 16 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>St Lucia</td>
          			<td>Laurel Elementary School</td>
                <td>Jul 23 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>Riverside</td>
          			<td>Laurel Elementary School</td>
                <td>Jul 30 2017</td>
                <td></td>
          		</tr>
              <tr>
          			<td>SWCC</td>
          			<td>Riverside Park</td>
                <td>Aug 06 2017</td>
                <td></td>
          		</tr>
          	</tbody>
          </table>
        </div>
      </div>
    </div>


      <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Euphoria Cricket Club, CT, USA 2017</span>
                </div>
                <!-- <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div> -->
                <!-- <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>

        <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
